* {
  margin: 0;
  padding: 0;
  list-style: none;
  vertical-align: baseline;
}
div {
  position:relative;
  z-index: 2;
}

body {
  background-color: #333;
  color: #333;
  font-family: 'Raleway', sans-serif;
  font-weight:400;
}

#background {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#quote_container {
  margin: auto;
  background-color: #b2f56a;
}

#quote_slider {
  position: relative;
  overflow: hidden;
  margin: 20px auto 0 auto;
}

#quote_slider ul {
  position: relative;
  margin: 0;
  padding: 0;
  height: 200px;
}

#quote_slider ul li {
  position: relative;
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  width: 500px;
  height: 300px;
  background: #ccc;
  text-align: center;
  line-height: 300px;
}

.buttons a i {
  background-color: #f0ad4e;
  border-radius: 4px;
  color: #ffffff;
  font-size: 19px;
  padding: 9px;
  width: 30px;
  height: 30px;
}
